@mixin btn($rad){
    padding: 15px 30px;
    background-color: $dark-grey;
    font-family: sans-serif;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: $rad;
    transition: all 0.1s;
    display: flex;
    flex-direction: row;
    align-items: center
}

.btn {
    @include btn(7px);
    p{
        margin: 0 5px;
    }
    &-panel{
        @include btn(4px);
        padding: 5px 10px;
    }
}

.btn:hover {
    background-color: $green-primary;
    cursor: pointer;
}
.btn-panel:hover{
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .shrink {
        padding: 5px 10px;
        margin: auto;
    }
}
@media screen and (max-width: 600px) {
    .shrink {
        width: auto;
        padding: 10px 20px;
        margin: auto;
        p {
            display: none;
        }
    }
}