@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

.app {
  background-color: #111;
  margin-top: 6vh;
}

.app *{
  font-family: 'Noto Sans Georgian', 'sans-serif';
}