.line{
    display: flex;
    align-items: center;
    font-size: 2.4vh;
    width: 100%;
    margin: 2vh 0 2vh auto;
}
.line p{
    text-wrap: nowrap;
    /* margin-left: 3vh; */
    margin-right: 3vh;
}

.line svg{
    display: flex;
    align-items: center;
    /* margin-right: 3vh; */
    margin-left: 3vh;
    font-size: 3.6vh;
    min-width: 3.6vh;
}

.inline{
    height: 50%;
    width: 100%;
    border-bottom: 1px solid #333;
}